.main {
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 3px 10px 12px;
}

.topBar {
  position: relative;
  z-index: 1;
  height: 42px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sider {
  min-height: 100vh;
}

.button {
  color: #D9D9D9;
  border: none;
  background-color: transparent !important;
  padding-top: 12px;
}

.pathNames {
  height: 42px;
  line-height: 42px;
}

.content {
  background: white;
}
